.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: -6px -6px;
    
}

.flex-block {
    margin: 6px;
    width: calc(50% - 12px);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.space-around {
    justify-content: space-around; 
}

