
* {
    box-sizing: border-box;
    margin: 0;
}


body {
    background: azure;
    color: black;
    font-size: 20px;
    background-image: url(../IMG/bg.png);
    background-size: auto;
    background-attachment: fixed;
    background-position: center center;
}

header {
 background: rgba(7, 219, 247, 0.2);
}

footer {
    background: rgba(7, 219, 247, 0.5);
}



img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div {
    margin: 30px 0;
}

button {
    margin: 5px 40px;
    padding: 3px;
}

.container {
    max-width: 1000px;
    margin: 10px auto;
}

.title-preview {
    font-size: 25px;
}

.author {
    color: rgb(1, 180, 204);
}

p {
    margin: 20px 0;
}

.continue {
    padding: 10px 30px;
    background:  rgba(7, 219, 247, 0.5);
    border-radius: 10px;
}



/* Menu */

.menu li {
    flex-grow: 1;
}

.menu a {
    /* color: rgb(64, 64, 255); */
    color: #0284cf;
    border-right: 1px solid #0493e6f5;
    display: block;
    padding: 16px 0;
}

.menu li:last-child a{
    border-right: none;
}

ul.menu {
    list-style-type: none;
}

.drop-down {
    position: relative;
}

.submenu {
    position: absolute;
    list-style-type: none;
    text-align: center;
    padding: 0;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(7, 219, 247, 0.2);

    display: none;
    transition: 0.5s ease-in-out;
}

.menu li:hover .submenu {
    display: block;
}

.submenu a {
    border-right: none;
    border-top: 1px solid #0493e6f5;
}


.registration {
    margin-top: 5px;
    margin-left: 88%;
}


.content-center {
    text-align: center;
}


/* Modal */

.modal {
    position: absolute;
    left: 50%;
    background: rgb(7, 219, 247);
    padding: 30px;

    transform: translate(-50%, -50%);
    transition: all 1s;
}

.modal:target {
    top: 50%;
}

.modal:not(:target) {
    top: -50%;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
}

